@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

.worklet-canvas {
    --fluid-pattern-seed: 123456;
    --fluid-pattern-bg-color: #1d1934;
    --fluid-pattern-color-1: #ffd53d;
    --fluid-pattern-color-2: #f0f1ff;
    --fluid-pattern-color-3: #f25c54;
    --fluid-pattern-color-4: #48cb8a;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: paint(fluidPattern);
}

.worklet-canvas2 {
    --fluid-pattern-seed: 78945;
    --fluid-pattern-bg-color: #ffffff;
    --fluid-pattern-color-1: hsla(47, 100%, 62%, 0.2);
    --fluid-pattern-color-2: hsla(236, 100%, 97%, 0.2);
    --fluid-pattern-color-3: hsla(3, 86%, 64%, 0.2);
    --fluid-pattern-color-4: hsla(150, 56%, 54%, 0.2);
    background-image: paint(fluidPattern);
    /*filter: brightness(90%);*/
    /*background-size: cover;*/
    /*position: absolute;*/
    /*opacity: 0.75;*/
    /*content: "";*/
    /*opacity: 0.75;*/
}

.active {
    border-color: #34d399;
}

